=begin
#ESP Documentation

#The Evident Security Platform API (version 2.0) is designed to allow users granular control over their Amazon Web Service security experience by allowing them to review alerts, monitor signatures, and create custom signatures.

OpenAPI spec version: v2_sdk

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class AttributionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Show the attribution for an alert
    # 
    # @param alert_id The ID of the alert to retrieve user attribution for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  alert See Including Objects for more information.
    # @return [Attribution]
    def show(alert_id, opts = {})
      data, _status_code, _headers = show_with_http_info(alert_id, opts)
      return data
    end

    # Show the attribution for an alert
    # 
    # @param alert_id The ID of the alert to retrieve user attribution for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  alert See Including Objects for more information.
    # @return [Array<(Attribution, Fixnum, Hash)>] Attribution data, response status code and response headers
    def show_with_http_info(alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AttributionApi.show ..."
      end
      # verify the required parameter 'alert_id' is set
      fail ArgumentError, "Missing the required parameter 'alert_id' when calling AttributionApi.show" if alert_id.nil?
      # resource path
      local_var_path = "/api/v2/alerts/{alert_id}/attribution.json_api".sub('{format}','json_api').sub('{' + 'alert_id' + '}', alert_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Attribution')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributionApi#show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
