=begin
#ESP Documentation

#No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v2

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class ContactRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a(n) Contact Request
    # 
    # @param title Subject of your message
    # @param description Body of your message
    # @param request_type Type of contact request. Supported values are support for support requests and feature for a feature request
    # @param [Hash] opts the optional parameters
    # @return [ContactRequest]
    def create(title, description, request_type, opts = {})
      data, _status_code, _headers = create_with_http_info(title, description, request_type, opts)
      return data
    end

    # Create a(n) Contact Request
    # 
    # @param title Subject of your message
    # @param description Body of your message
    # @param request_type Type of contact request. Supported values are support for support requests and feature for a feature request
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactRequest, Fixnum, Hash)>] ContactRequest data, response status code and response headers
    def create_with_http_info(title, description, request_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContactRequestsApi.create ..."
      end
      # verify the required parameter 'title' is set
      fail ArgumentError, "Missing the required parameter 'title' when calling ContactRequestsApi.create" if title.nil?
      # verify the required parameter 'description' is set
      fail ArgumentError, "Missing the required parameter 'description' when calling ContactRequestsApi.create" if description.nil?
      # verify the required parameter 'request_type' is set
      fail ArgumentError, "Missing the required parameter 'request_type' when calling ContactRequestsApi.create" if request_type.nil?
      # resource path
      local_var_path = "/api/v2/contact_requests.json_api".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}
      form_params["title"] = title
      form_params["description"] = description
      form_params["request_type"] = request_type

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContactRequest')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactRequestsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
