=begin
#ESP Documentation

#The Evident Security Platform API (version 2.0) is designed to allow users granular control over their Amazon Web Service security experience by allowing them to review alerts, monitor signatures, and create custom signatures.

OpenAPI spec version: v2_sdk

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class ContactRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a(n) Contact Request
    # 
    # @param description Body of your message
    # @param request_type Type of contact request. Valid values are support, feature
    # @param title Subject of your message
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  user See Including Objects for more information.
    # @return [ContactRequest]
    def create(description, request_type, title, opts = {})
      data, _status_code, _headers = create_with_http_info(description, request_type, title, opts)
      return data
    end

    # Create a(n) Contact Request
    # 
    # @param description Body of your message
    # @param request_type Type of contact request. Valid values are support, feature
    # @param title Subject of your message
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  user See Including Objects for more information.
    # @return [Array<(ContactRequest, Fixnum, Hash)>] ContactRequest data, response status code and response headers
    def create_with_http_info(description, request_type, title, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContactRequestsApi.create ..."
      end
      # verify the required parameter 'description' is set
      fail ArgumentError, "Missing the required parameter 'description' when calling ContactRequestsApi.create" if description.nil?
      # verify the required parameter 'request_type' is set
      fail ArgumentError, "Missing the required parameter 'request_type' when calling ContactRequestsApi.create" if request_type.nil?
      # verify enum value
      unless ['support', 'feature'].include?(request_type)
        fail ArgumentError, "invalid value for 'request_type', must be one of support, feature"
      end
      # verify the required parameter 'title' is set
      fail ArgumentError, "Missing the required parameter 'title' when calling ContactRequestsApi.create" if title.nil?
      # resource path
      local_var_path = "/api/v2/contact_requests.json_api".sub('{format}','json_api')

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}
      form_params["description"] = description
      form_params["request_type"] = request_type
      form_params["title"] = title

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContactRequest')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactRequestsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
