=begin
#ESP Documentation

#No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v2

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class CustomSignatureDefinitionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a(n) Definition
    # 
    # @param custom_signature_id ID of the custom signature this definition should belong to.
    # @param [Hash] opts the optional parameters
    # @return [Definition]
    def create(custom_signature_id, opts = {})
      data, _status_code, _headers = create_with_http_info(custom_signature_id, opts)
      return data
    end

    # Create a(n) Definition
    # 
    # @param custom_signature_id ID of the custom signature this definition should belong to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Definition, Fixnum, Hash)>] Definition data, response status code and response headers
    def create_with_http_info(custom_signature_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomSignatureDefinitionsApi.create ..."
      end
      # verify the required parameter 'custom_signature_id' is set
      fail ArgumentError, "Missing the required parameter 'custom_signature_id' when calling CustomSignatureDefinitionsApi.create" if custom_signature_id.nil?
      # resource path
      local_var_path = "/api/v2/custom_signature_definitions.json_api".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}
      form_params["custom_signature_id"] = custom_signature_id

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Definition')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomSignatureDefinitionsApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a(n) Definition
    # 
    # @param id Definition Id
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def destroy(id, opts = {})
      data, _status_code, _headers = destroy_with_http_info(id, opts)
      return data
    end

    # Remove a(n) Definition
    # 
    # @param id Definition Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomSignatureDefinitionsApi.destroy ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling CustomSignatureDefinitionsApi.destroy" if id.nil?
      # resource path
      local_var_path = "/api/v2/custom_signature_definitions/{id}.json_api".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomSignatureDefinitionsApi#destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of Definitions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, String>] :page Page Number
    # @option opts [Hash<String, String>] :filter Filter Params for Searching
    # @option opts [String] :include Included Objects
    # @return [PaginatedCollection]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      return data
    end

    # Get a list of Definitions
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, String>] :page Page Number
    # @option opts [Hash<String, String>] :filter Filter Params for Searching
    # @option opts [String] :include Included Objects
    # @return [Array<(PaginatedCollection, Fixnum, Hash)>] PaginatedCollection data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomSignatureDefinitionsApi.list ..."
      end
      # resource path
      local_var_path = "/api/v2/custom_signature_definitions.json_api".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}
      form_params["page"] = opts[:'page'] if !opts[:'page'].nil?
      form_params["filter"] = opts[:'filter'] if !opts[:'filter'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PaginatedCollection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomSignatureDefinitionsApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show a single Definition
    # 
    # @param id Definition Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Included Objects
    # @return [Definition]
    def show(id, opts = {})
      data, _status_code, _headers = show_with_http_info(id, opts)
      return data
    end

    # Show a single Definition
    # 
    # @param id Definition Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Included Objects
    # @return [Array<(Definition, Fixnum, Hash)>] Definition data, response status code and response headers
    def show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomSignatureDefinitionsApi.show ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling CustomSignatureDefinitionsApi.show" if id.nil?
      # resource path
      local_var_path = "/api/v2/custom_signature_definitions/{id}.json_api".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Definition')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomSignatureDefinitionsApi#show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a(n) Definition
    # 
    # @param id Definition Id
    # @param code The code for the definition
    # @param language The language of the code
    # @param [Hash] opts the optional parameters
    # @return [Definition]
    def update(id, code, language, opts = {})
      data, _status_code, _headers = update_with_http_info(id, code, language, opts)
      return data
    end

    # Update a(n) Definition
    # 
    # @param id Definition Id
    # @param code The code for the definition
    # @param language The language of the code
    # @param [Hash] opts the optional parameters
    # @return [Array<(Definition, Fixnum, Hash)>] Definition data, response status code and response headers
    def update_with_http_info(id, code, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CustomSignatureDefinitionsApi.update ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling CustomSignatureDefinitionsApi.update" if id.nil?
      # verify the required parameter 'code' is set
      fail ArgumentError, "Missing the required parameter 'code' when calling CustomSignatureDefinitionsApi.update" if code.nil?
      # verify the required parameter 'language' is set
      fail ArgumentError, "Missing the required parameter 'language' when calling CustomSignatureDefinitionsApi.update" if language.nil?
      # resource path
      local_var_path = "/api/v2/custom_signature_definitions/{id}.json_api".sub('{format}','json').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}
      form_params["code"] = code
      form_params["language"] = language

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Definition')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomSignatureDefinitionsApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
