=begin
#ESP Documentation

#The Evident Security Platform API (version 2.0) is designed to allow users granular control over their Amazon Web Service security experience by allowing them to review alerts, monitor signatures, and create custom signatures.

OpenAPI spec version: v2_sdk

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class ExternalAccountUserAttributionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # A successful call to this API will update the user attributions on an external account.
    # 
    # @param external_account_id The ID of the external account to update the user attributions of
    # @param cloudtrail_name The name of the cloudetrail associated with the user attribution.
    # @param [Hash] opts the optional parameters
    # @return [ExternalAccount]
    def update(external_account_id, cloudtrail_name, opts = {})
      data, _status_code, _headers = update_with_http_info(external_account_id, cloudtrail_name, opts)
      return data
    end

    # A successful call to this API will update the user attributions on an external account.
    # 
    # @param external_account_id The ID of the external account to update the user attributions of
    # @param cloudtrail_name The name of the cloudetrail associated with the user attribution.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExternalAccount, Fixnum, Hash)>] ExternalAccount data, response status code and response headers
    def update_with_http_info(external_account_id, cloudtrail_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ExternalAccountUserAttributionsApi.update ..."
      end
      # verify the required parameter 'external_account_id' is set
      fail ArgumentError, "Missing the required parameter 'external_account_id' when calling ExternalAccountUserAttributionsApi.update" if external_account_id.nil?
      # verify the required parameter 'cloudtrail_name' is set
      fail ArgumentError, "Missing the required parameter 'cloudtrail_name' when calling ExternalAccountUserAttributionsApi.update" if cloudtrail_name.nil?
      # resource path
      local_var_path = "/api/v2/external_accounts/{external_account_id}/user_attribution.json_api".sub('{format}','json_api').sub('{' + 'external_account_id' + '}', external_account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}
      form_params["cloudtrail_name"] = cloudtrail_name

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExternalAccount')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExternalAccountUserAttributionsApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
