=begin
#ESP Documentation

#The Evident Security Platform API (version 2.0) is designed to allow users granular control over their Amazon Web Service security experience by allowing them to review alerts, monitor signatures, and create custom signatures.

OpenAPI spec version: v2_sdk

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class IntegrationsWebhookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a Webhook Integration
    # 
    # @param external_account_ids External accounts for integration
    # @param name Name of the integration
    # @param throttle_rate The maximum number of alerts that may be sent through the integration every minute.
    # @param url The URL endpoint for the webhook
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  integration See Including Objects for more information.
    # @option opts [BOOLEAN] :all_high_risk Send all high risk alerts
    # @option opts [BOOLEAN] :all_low_risk Send all low risk alerts
    # @option opts [BOOLEAN] :all_medium_risk Send all medium risk alerts
    # @option opts [Array<Integer>] :custom_signature_ids Custom signatures for integration
    # @option opts [BOOLEAN] :send_updates This feature enables the integration to send alerts when they are updated. When disabled, alerts will only be sent when they are initially created. When enabled, alerts will additionally be sent when a change is made such as the alert ending. An alert may end for multiple reasons.
    # @option opts [BOOLEAN] :send_when_suppressed Send notifications for suppressed alerts
    # @option opts [Array<Integer>] :signature_ids Signatures for integration
    # @option opts [Array<String>] :statuses Only send alerts that have the status in this list. Valid values are fail, warn, error, pass, info
    # @return [IntegrationWebhook]
    def create(external_account_ids, name, throttle_rate, url, opts = {})
      data, _status_code, _headers = create_with_http_info(external_account_ids, name, throttle_rate, url, opts)
      return data
    end

    # Create a Webhook Integration
    # 
    # @param external_account_ids External accounts for integration
    # @param name Name of the integration
    # @param throttle_rate The maximum number of alerts that may be sent through the integration every minute.
    # @param url The URL endpoint for the webhook
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  integration See Including Objects for more information.
    # @option opts [BOOLEAN] :all_high_risk Send all high risk alerts
    # @option opts [BOOLEAN] :all_low_risk Send all low risk alerts
    # @option opts [BOOLEAN] :all_medium_risk Send all medium risk alerts
    # @option opts [Array<Integer>] :custom_signature_ids Custom signatures for integration
    # @option opts [BOOLEAN] :send_updates This feature enables the integration to send alerts when they are updated. When disabled, alerts will only be sent when they are initially created. When enabled, alerts will additionally be sent when a change is made such as the alert ending. An alert may end for multiple reasons.
    # @option opts [BOOLEAN] :send_when_suppressed Send notifications for suppressed alerts
    # @option opts [Array<Integer>] :signature_ids Signatures for integration
    # @option opts [Array<String>] :statuses Only send alerts that have the status in this list. Valid values are fail, warn, error, pass, info
    # @return [Array<(IntegrationWebhook, Fixnum, Hash)>] IntegrationWebhook data, response status code and response headers
    def create_with_http_info(external_account_ids, name, throttle_rate, url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IntegrationsWebhookApi.create ..."
      end
      # verify the required parameter 'external_account_ids' is set
      fail ArgumentError, "Missing the required parameter 'external_account_ids' when calling IntegrationsWebhookApi.create" if external_account_ids.nil?
      # verify the required parameter 'name' is set
      fail ArgumentError, "Missing the required parameter 'name' when calling IntegrationsWebhookApi.create" if name.nil?
      # verify the required parameter 'throttle_rate' is set
      fail ArgumentError, "Missing the required parameter 'throttle_rate' when calling IntegrationsWebhookApi.create" if throttle_rate.nil?
      # verify the required parameter 'url' is set
      fail ArgumentError, "Missing the required parameter 'url' when calling IntegrationsWebhookApi.create" if url.nil?
      # resource path
      local_var_path = "/api/v2/integrations/webhook.json_api".sub('{format}','json_api')

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}
      form_params["external_account_ids"] = @api_client.build_collection_param(external_account_ids, :multi)
      form_params["name"] = name
      form_params["throttle_rate"] = throttle_rate
      form_params["url"] = url
      form_params["all_high_risk"] = opts[:'all_high_risk'] if !opts[:'all_high_risk'].nil?
      form_params["all_low_risk"] = opts[:'all_low_risk'] if !opts[:'all_low_risk'].nil?
      form_params["all_medium_risk"] = opts[:'all_medium_risk'] if !opts[:'all_medium_risk'].nil?
      form_params["custom_signature_ids"] = @api_client.build_collection_param(opts[:'custom_signature_ids'], :multi) if !opts[:'custom_signature_ids'].nil?
      form_params["send_updates"] = opts[:'send_updates'] if !opts[:'send_updates'].nil?
      form_params["send_when_suppressed"] = opts[:'send_when_suppressed'] if !opts[:'send_when_suppressed'].nil?
      form_params["signature_ids"] = @api_client.build_collection_param(opts[:'signature_ids'], :multi) if !opts[:'signature_ids'].nil?
      form_params["statuses"] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IntegrationWebhook')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsWebhookApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show a single Webhook Integration
    # 
    # @param integration_id The ID of the integration
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  integration See Including Objects for more information.
    # @return [IntegrationWebhook]
    def show(integration_id, opts = {})
      data, _status_code, _headers = show_with_http_info(integration_id, opts)
      return data
    end

    # Show a single Webhook Integration
    # 
    # @param integration_id The ID of the integration
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  integration See Including Objects for more information.
    # @return [Array<(IntegrationWebhook, Fixnum, Hash)>] IntegrationWebhook data, response status code and response headers
    def show_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IntegrationsWebhookApi.show ..."
      end
      # verify the required parameter 'integration_id' is set
      fail ArgumentError, "Missing the required parameter 'integration_id' when calling IntegrationsWebhookApi.show" if integration_id.nil?
      # resource path
      local_var_path = "/api/v2/integrations/{integration_id}/webhook.json_api".sub('{format}','json_api').sub('{' + 'integration_id' + '}', integration_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IntegrationWebhook')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsWebhookApi#show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Webhook Integration
    # 
    # @param integration_id The ID of the integration
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  integration See Including Objects for more information.
    # @option opts [BOOLEAN] :all_high_risk Send all high risk alerts
    # @option opts [BOOLEAN] :all_low_risk Send all low risk alerts
    # @option opts [BOOLEAN] :all_medium_risk Send all medium risk alerts
    # @option opts [Array<Integer>] :custom_signature_ids Custom signatures for integration
    # @option opts [Array<Integer>] :external_account_ids External accounts for integration
    # @option opts [String] :name Name of the integration
    # @option opts [BOOLEAN] :send_updates This feature enables the integration to send alerts when they are updated. When disabled, alerts will only be sent when they are initially created. When enabled, alerts will additionally be sent when a change is made such as the alert ending. An alert may end for multiple reasons.
    # @option opts [BOOLEAN] :send_when_suppressed Send notifications for suppressed alerts
    # @option opts [Array<Integer>] :signature_ids Signatures for integration
    # @option opts [Array<String>] :statuses Only send alerts that have the status in this list. Valid values are fail, warn, error, pass, info
    # @option opts [Integer] :throttle_rate The maximum number of alerts that may be sent through the integration every minute.
    # @option opts [String] :url The URL endpoint for the webhook
    # @return [IntegrationWebhook]
    def update(integration_id, opts = {})
      data, _status_code, _headers = update_with_http_info(integration_id, opts)
      return data
    end

    # Update a Webhook Integration
    # 
    # @param integration_id The ID of the integration
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Related objects that can be included in the response:  integration See Including Objects for more information.
    # @option opts [BOOLEAN] :all_high_risk Send all high risk alerts
    # @option opts [BOOLEAN] :all_low_risk Send all low risk alerts
    # @option opts [BOOLEAN] :all_medium_risk Send all medium risk alerts
    # @option opts [Array<Integer>] :custom_signature_ids Custom signatures for integration
    # @option opts [Array<Integer>] :external_account_ids External accounts for integration
    # @option opts [String] :name Name of the integration
    # @option opts [BOOLEAN] :send_updates This feature enables the integration to send alerts when they are updated. When disabled, alerts will only be sent when they are initially created. When enabled, alerts will additionally be sent when a change is made such as the alert ending. An alert may end for multiple reasons.
    # @option opts [BOOLEAN] :send_when_suppressed Send notifications for suppressed alerts
    # @option opts [Array<Integer>] :signature_ids Signatures for integration
    # @option opts [Array<String>] :statuses Only send alerts that have the status in this list. Valid values are fail, warn, error, pass, info
    # @option opts [Integer] :throttle_rate The maximum number of alerts that may be sent through the integration every minute.
    # @option opts [String] :url The URL endpoint for the webhook
    # @return [Array<(IntegrationWebhook, Fixnum, Hash)>] IntegrationWebhook data, response status code and response headers
    def update_with_http_info(integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IntegrationsWebhookApi.update ..."
      end
      # verify the required parameter 'integration_id' is set
      fail ArgumentError, "Missing the required parameter 'integration_id' when calling IntegrationsWebhookApi.update" if integration_id.nil?
      # resource path
      local_var_path = "/api/v2/integrations/{integration_id}/webhook.json_api".sub('{format}','json_api').sub('{' + 'integration_id' + '}', integration_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}
      form_params["all_high_risk"] = opts[:'all_high_risk'] if !opts[:'all_high_risk'].nil?
      form_params["all_low_risk"] = opts[:'all_low_risk'] if !opts[:'all_low_risk'].nil?
      form_params["all_medium_risk"] = opts[:'all_medium_risk'] if !opts[:'all_medium_risk'].nil?
      form_params["custom_signature_ids"] = @api_client.build_collection_param(opts[:'custom_signature_ids'], :multi) if !opts[:'custom_signature_ids'].nil?
      form_params["external_account_ids"] = @api_client.build_collection_param(opts[:'external_account_ids'], :multi) if !opts[:'external_account_ids'].nil?
      form_params["name"] = opts[:'name'] if !opts[:'name'].nil?
      form_params["send_updates"] = opts[:'send_updates'] if !opts[:'send_updates'].nil?
      form_params["send_when_suppressed"] = opts[:'send_when_suppressed'] if !opts[:'send_when_suppressed'].nil?
      form_params["signature_ids"] = @api_client.build_collection_param(opts[:'signature_ids'], :multi) if !opts[:'signature_ids'].nil?
      form_params["statuses"] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?
      form_params["throttle_rate"] = opts[:'throttle_rate'] if !opts[:'throttle_rate'].nil?
      form_params["url"] = opts[:'url'] if !opts[:'url'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IntegrationWebhook')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsWebhookApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
