=begin
#ESP Documentation

#The Evident Security Platform API (version 2.0) is designed to allow users granular control over their Amazon Web Service security experience by allowing them to review alerts, monitor signatures, and create custom signatures.

OpenAPI spec version: v2_sdk

Generated by: https://github.com/swagger-api/swagger-codegen.git

=end

require "uri"

module ESP
  class MetadataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Show the metadata for an alert
    # 
    # @param alert_id Alert Id
    # @param [Hash] opts the optional parameters
    # @return [Metadata]
    def for_alert(alert_id, opts = {})
      data, _status_code, _headers = for_alert_with_http_info(alert_id, opts)
      return data
    end

    # Show the metadata for an alert
    # 
    # @param alert_id Alert Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Metadata, Fixnum, Hash)>] Metadata data, response status code and response headers
    def for_alert_with_http_info(alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MetadataApi.for_alert ..."
      end
      # verify the required parameter 'alert_id' is set
      fail ArgumentError, "Missing the required parameter 'alert_id' when calling MetadataApi.for_alert" if alert_id.nil?
      # resource path
      local_var_path = "/api/v2/alerts/{alert_id}/metadata.json_api".sub('{format}','json_api').sub('{' + 'alert_id' + '}', alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Metadata')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetadataApi#for_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show a single Metadata
    # 
    # @param id Metadata ID
    # @param [Hash] opts the optional parameters
    # @return [Metadata]
    def show(id, opts = {})
      data, _status_code, _headers = show_with_http_info(id, opts)
      return data
    end

    # Show a single Metadata
    # 
    # @param id Metadata ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Metadata, Fixnum, Hash)>] Metadata data, response status code and response headers
    def show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MetadataApi.show ..."
      end
      # verify the required parameter 'id' is set
      fail ArgumentError, "Missing the required parameter 'id' when calling MetadataApi.show" if id.nil?
      # resource path
      local_var_path = "/api/v2/metadata/{id}.json_api".sub('{format}','json_api').sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Metadata')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetadataApi#show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
